.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    margin: 5px;
}

.my-name {
    margin-right: auto;
}

.desktop-nav-container{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    justify-content: space-between;
}

.desktop-nav-container > p {
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.desktop-nav-container > p:hover {
    color: #0056b3; 
}

.bars-icon {
    margin-right: 20px;
    position: relative;
}

.dropdown-container{
    position: absolute;
    top: 50px;
    right: 15px;

    border: 1px solid black;
    border-radius: 3px;

    background-color: rgb(236, 234, 234);
    z-index: 999;
}

.dropdown-item{
    padding: 10px 13px 10px;
    transition: transform 0.3 ease;
}

.dropdown-item:hover{
    background-color: lightgray;
}