.techstack-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.tech{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 250px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out;
    background-color: rgba(93, 89, 90, 0.1);

}

.tech:hover{
    transform: scale(.95);

}

.tech-icon{
    height: 50px;
    width: 50px;
    align-self: center;
}

.tech-info{
    display: flex;
    flex-direction: column;
}

.tech-info > p{
    font-size: 10px;
}